---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | LaQuinta Jernigan" description="About LaQuinta Jernigan">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by."
			>
				<img
					width="1553"
					height="873"
					src="https://raw.githubusercontent.com/JUN1U5/la-project/refs/heads/master/public/assets/Jernigan_LaQuinta_header.png"
					alt="LaQuinta Jernigan at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a visionary executive with 15+ years of experience driving strategic initiatives and leading 
						high-performance teams in the clinical trials sector. I have a proven track record of increasing market 
						share, optimizing operational efficiency, and fostering a culture of innovation and collaboration.
					</p>
					<p>
						Currently, I'm focused on delivering digital health solutions and retention programs that tackle the 
						growing burden of patient dropouts in clinical trials, ensuring my clients get their product to market 
						in time and within budget, all while putting the patient first.
					</p>
					<p>
						I'm particularly passionate about improving diversity in clinical research and increasing overall 
						awareness of disparities in healthcare.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	p {
		margin-bottom: 1.5rem;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
